aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
asyncpg==0.31.0
attrs==25.4.0
bcrypt==4.3.0
click==8.3.1
colorama==0.4.6
commonmark==0.9.1
frozenlist==1.8.0
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
maubot==0.6.0
mautrix==0.21.0
multidict==6.7.1
packaging==26.0
prompt_toolkit==3.0.52
propcache==0.4.1
questionary==2.1.1
ruamel.yaml==0.18.17
ruamel.yaml.clib==0.2.15
setuptools==82.0.1
wcwidth==0.6.0
yarl==1.23.0
